/.vs*
/.idea*
/[Bb]uild*
/[Bb]in*
/cmake-build*

**/data/*

/modules/dataset/test/dataset_path.h

#############################
# Begin: Documentation      #
#############################

/doc/html*
/doc/latex*
/doc/man*

/doc/*.tmp
/doc/doxygen/*.pdf
/doc/doxygen/doxygen_log.txt

#############################
# End: Documentation        #
#############################