/[Bb]uild*
/[Bb]in*

/.vs*

#############################
# Begin: Documentation      #
#############################

/doc/html*
/doc/latex*
/doc/man*

/doc/*.tmp
/doc/doxygen/*.pdf

#############################
# End: Documentation        #
#############################