/.vs*
/[Bb]uild*
/[Bb]in*

/data*
/ecvl_data.zip

#############################
# Begin: Documentation      #
#############################

/doc/html*
/doc/latex*
/doc/man*

/doc/*.tmp
/doc/doxygen/*.pdf
/doc/doxygen/doxygen_log.txt

#############################
# End: Documentation        #
#############################