[submodule "3rdparty/dcmtk"]
	path = 3rdparty/dcmtk
	url = https://github.com/DCMTK/dcmtk.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
